.footer {
  
   background-color: #F5B041 ;
    padding: 10px ;
     text-align: center;
     line-height: 1;
   font-family: 'Poppins', sans-serif;
   margin:0;
   padding:0;
   box-sizing: border-box;
}
.container{
   max-width: 1700px;
   margin:auto;
}
.row{
   display: flex;
   flex-wrap: wrap;
}
.ul{
   list-style: none;
}
.footer{
   background-color: #F1C40F;
    padding: 10px 0;
}
.footer-col{
   width: 25%;
   padding: 0 55px;
}
.footer-col h4{
   font-size: 18px;
   color: black;
   text-transform: capitalize;
   margin-bottom: 15px;
   font-weight: 500;
   position: relative;
   left: 7%;
}
.footer-col h4::before{
   content: '';
   position: absolute;
   left:42%;
   bottom: -10px;
   background-color: #e91e63;
   height: 2px;
   box-sizing: border-box;
   width: 50px;

}
.footer-col ul li a{
   font-size: 16px;
   text-transform: capitalize;
   color: black;
   text-decoration: none;
   font-weight: 300;
   color: black;
   display: block;
   transition: all 0.3s ease;
}
.footer-col ul li a:hover{
   color: white;
   padding-left: 8px;
}
.footer-col .social-links a{
   display: inline-block;
   height: 40px;                      /*social links icon animation*/
   width: 40px;
   background-color: rgba(255,255,255,0.2);
   margin:0 10px 10px 0;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
   color: black;
   transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
   color:#24262b ;
   background-color: white;
   
   
}